<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <connectionStrings>
    <add name="StatisticsDB"
         connectionString="Server=DESKTOP-CQ98216\SQLEXPRESS;Database=StatisticsMis;User Id=Statistics;Password=597640;TrustServerCertificate=True;Encrypt=Optional;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>